body{
    background-color: rgba(227, 219, 172, 0.904);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.container{
    width: 600px;
    height: 700px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: bisque;
}
.profile{
    align-items: center;
    border: 1px solid black;
    padding: 5%;
    margin: 20px;
    
}
td{
    border: 1px solid red;
    border-radius: 5px;
   margin-top: 5px;
   text-align: center;
    height: 53px;
    width: max-content;
}